<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <title>列表</title>
    <meta name="description" content="">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <link rel="stylesheet" type="text/css" href="/app/css/product.css">
    <link rel="stylesheet" type="text/css" href="/public/css/swipe.css">
</head>
<body>
    <div class="all">
        <div class="ovh product">
            <div class="tao fl">
                <ul id="position">
                </ul>
                <div id="slider" class="swipe">
                    <div class="swipe-wrap">
                    
                    </div>
                </div><!--swipe-->
            </div><!--tao_fl-->
            <div class="fr pro_info">
                <div class="over_lay dn"><img src="/app/images/product/p0.png"></div>
                <div class="pro_new fr"><img src="/app/images/product/new.png" width="55" height="84"></div>
                <div class="pro_top">
                
                </div>
            </div><!--tao_fr-->
        </div>
    </div>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/js/swipe.js"></script>
<script type="text/javascript" src="/public/js/loStorage.js"></script>
<script type="text/javascript" src="/public/js/config.js"></script>
<script type="text/javascript" src="/app/js/product/list.js"></script>
</body>
</html>