<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <title>成功购买</title>
    <meta name="description" content="">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <link rel="stylesheet" type="text/css" href="/app/css/product.css">
</head>
<body>
    <div class="all">
		<div class="suc_top">
			<div class="suc_radius">
				<p class="suc_orange fz30 tc">YAO</p>
				<p class="suc_orange fz20 tc">购 买 成 功</p>
				<p class="suc_elt fz14 tc">请前往冰箱处取用</p>
				<div class="suc_score fz14 ovh">
					<em class="fl db">获得积分：</em>
					<span class="fl db"></span>
				</div>
			</div>
		</div>
    </div>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/js/loStorage.js"></script>
<script type="text/javascript" src="/app/js/product/suc.js"></script>
</body>
</html>