<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <link rel="stylesheet" type="text/css" href="/app/css/score.css">
</head>
<body class="score_back">
    <div class="all">
		<p class="info_detail fz20 tc">完 善 您 的 信 息</p>
	    <div class="info_name fz14">
		    <input type="text" name="name" value="姓 名"/>
	    </div>
	    <div class="info_sex ovh">
			<div class="sex_left fl ovh">
				<span class="fl tc db">男 神</span>
				<em class="db fr sex_back"></em>
			</div>
		    <div class="sex_right fr ovh">
			    <span class="fl tc db">女 神</span>
			    <em class="db fr sex_back"></em>
		    </div>
	    </div>
	    <div class="info_tel fz14">
		    <input type="text" name="tel" value="电 话+86"/>
	    </div>
	    <p class="info_con mt20 dn"></p>
	    <div class="tc info_change fz14">马上兑换好礼</div>
    </div>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/app/js/score/info.js"></script>
</body>
</html>