<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <link rel="stylesheet" type="text/css" href="/app/css/score.css">
	<link rel="stylesheet" type="text/css" href="/public/css/swiper-3.3.1.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/idangerous.swiper.3dflow.css">

</head>
<body class="score_back">
    <div class="all">
		<p class="market tc fz16">积 分 商 场</p>

	    <div class="swiper-container swiper-container-horizontal swiper-container-3d swiper-container-coverflow" id="swiper-container" style="height:300px;">
		    <div class="swiper-wrapper">
			    <div class="swiper-slide blue-slide">
				    <img src="/app/images/product/p0.png" class="a"/>
			    </div>
			    <div class="swiper-slide red-slide swiper-slide-prev">
				    <img src="/app/images/product/p1.png"/>
			    </div>
			    <div class="swiper-slide orange-slide swiper-slide-active">
				    <img src="/app/images/product/p1.png"/>
			    </div>
		    </div>
	    </div>




	    <div class="market_me ovh fz14">
			<span class="fl db">我的积分：</span>
		    <em class="fl db"></em>
	    </div>
	    <div class="market_was ovh fz14">
		    <span class="fl db">已兑换积分：</span>
		    <em class="fl db"></em>
	    </div>
	    <p class="market_hide dn fz14">您的积分余额不足，请尽快购买曜能量充值</p>
	    <div class="market_watch fz14 tc">查看我的兑换</div>

    </div>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/js/loStorage.js"></script>
<script type="text/javascript" src="/public/js/swiper-3.3.1.min.js"></script>
<script type="text/javascript" src="/public/js/config.js"></script>
<script type="text/javascript" src="/public/js/idangerous.swiper.3dflow.js"></script>
<script type="text/javascript" src="/app/js/score/market.js"></script>

</body>
</html>