<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <link rel="stylesheet" type="text/css" href="/app/css/main.css">
</head>
<body>
    <div class="all ovy bg_index">
      <div class="logo_index"><img src="/app/images/main/logo_index.png"></div>
        <div class="nav_index">
          <a class="db fl" name="active"><img src="/app/images/main/active_index.png"></a>
          <a class="db fl ml5" name="buy"><img src="/app/images/main/buy_index.png"></a>
          <a class="db fl ml5" name="change"><img src="/app/images/main/change_index.png"></a>
        </div>
    </div>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/app/js/main/index.js"></script>
</body>
</html>